@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919;
  --foreground: #e8e8e6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}