@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919;
  --foreground: #e8e8e6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}